*~
*.agdai
*.aux
*_aux
*.bak
*.bbl
*.blg
*.bin
*.dyn_hi
*.dyn_o
*.gz
*.hi
*.log
*.nav
*.o
*.out
*.pdf
*.ptb
*.snm
*.toc
*.tgz
*.zip
old
short.bib
medium.bib
all.bib
/prototyping/size-irrelevance/Sit/
/prototyping/Sit/src/Sit/
/prototyping/Sit/dist/
/nbe/latex/
/nbe/trash-syntax.tex
/nbe/BugSizePolarity.lagda
/nbe/acmart-master/
/nbe/acmart-pacmpl-template.tex
/nbe/icfp17.fdb_latexmk
/nbe/icfp17.fls
/types17/Bug-Split-Variable.lagda
/nbe/comment.cut
/nbe/icfp17-long
/nbe/instructions-final.txt
/nbe/talkTYPES17
/Basold-Notes/
