*~
*.agdai
*.aux
*_aux
*.bak
*.bbl
*.blg
*.bin
*.dyn_hi
*.dyn_o
*.gz
*.hi
*.log
*.nav
*.o
*.out
*.pdf
*.ptb
*.snm
*.toc
*.tgz
old
/prototyping/size-irrelevance/Sit/
/prototyping/Sit/src/Sit/
/prototyping/Sit/dist/
/nbe/latex/
/nbe/trash-syntax.tex
/nbe/BugSizePolarity.lagda
/nbe/acmart-pacmpl-template.tex
/nbe/icfp17.fdb_latexmk
/nbe/icfp17.fls
/types17/medium.bib
/types17/short.bib
/types17/Bug-Split-Variable.lagda
