*~
*.agdai
*.aux
*_aux
*.bak
*.bbl
*.blg
*.bin
*.dyn_hi
*.dyn_o
*.hi
*.log
*.o
*.out
*.pdf
*.ptb
*.snm
*.toc
old
/prototyping/size-irrelevance/Sit/
/prototyping/Sit/src/Sit/
/prototyping/Sit/dist/
/nbe/latex/
/nbe/trash-syntax.tex
/nbe/BugSizePolarity.lagda
/nbe/acmart-pacmpl-template.tex
/nbe/acmart.cls
/nbe/icfp17.fdb_latexmk
/nbe/icfp17.fls
